@import '../common/base.less';

.h-agrement {
  background: #EEF2F7;
  padding-top: 20px;
  padding-bottom: 24px;

  .tab {
    li {
      width: 124px;
      height: 46px;
      line-height: 46px;
      background: #F9F9F9;
      border-radius: 10px 10px 0px 0px;
      border: 1px solid #E6E9F1;
      border-bottom: none;
      margin-right: 5px;
      float: left;
      text-align: center;

      a {
        font-size: 16px;
        color: #666666;
      }

      &.curr {
        background: #FFFFFF;

        a {
          color: #333333;
          font-weight: bold;
        }
      }
    }
  }

  .section{
    width: 1190px;
    min-height: 631px;
    background: #ffffff;
    padding: 30px 30px 30px 38px;
    p{
      color: #666666;
      line-height: 30px;
      text-align: justify;
    }
  }
}
