@import '../common/base.less';
@import '../common/menu.less';

.h-user {
  background: #EEF2F7;
  padding-top: 20px;

  .bar-right {
    width: 944px;
    background: #FFFFFF;
    padding-left: 20px;
  }
}
































