@import '../common/base.less';

.icn {
  background-image: url("../../images/icon.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.h-section {
  height: calc(100% - 364px);
  background: url("../../images/01.jpg") no-repeat center;
  background-size: cover;
  text-align: center;

  .title {
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
  }

  .h-search {
    position: relative;
    margin-top: 57px;
    text-align: center;
    white-space: nowrap;

    .choice {
      width: 150px;
      height: 50px;
      background: #FFFFFF;
      text-align: center;
      cursor: pointer;

      span {
        font-size: 14px;
        color: #999999;
        vertical-align: middle;
      }

      .arrow {
        background-position: -80px -10px;
        width: 12px;
        height: 9px;
        margin-left: 10px;
      }

      &.choice-curr {
        .arrow {
          background-position: -98px -9px;
        }
      }

      .h-search-area {
        position: absolute;
        top: 55px;
        left: 0;
        width: 740px;
        height: 338px;
        background: #FFFFFF;
        z-index: 2;
        padding-left: 17px;
        overflow-x: hidden;
        overflow-y: auto;
        display: none;

        .inp {
          margin-top: 13px;
          width: 214px;
          height: 32px;
          background: #F9F9F9;
          border-radius: 2px;
          border: 1px solid #D7DDE9;
          text-align: left;

          .iconfont {
            margin-left: 7px;
            font-size: 20px;
            color: #bbbbbb;
            vertical-align: middle;
          }

          input {
            margin-left: 10px;
            font-size: 12px;
            background: transparent;
            vertical-align: middle;

            &::-webkit-input-placeholder {
              color: #bbbbbb;
            }
          }
        }

        .list {
          width: 708px;
          padding-top: 20px;
          padding-bottom: 17px;
          border-bottom: 1px solid #D7DDE9;

          dt {
            font-size: 18px;
            color: #333333;
            display: block;
            text-align: left;
            margin-bottom: 7px;
          }

          dd {
            float: left;
            font-size: 14px;
            color: #666666;
            margin-right: 14px;
            line-height: 40px;
            transition: all 0.4s ease;

            &:hover {
              color: #0088dd;
            }
          }
        }

        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 6px;
          background: #fff;

          box-shadow: 0px 2px 4px 0px #CFCFCF;
        }

        &::-webkit-scrollbar-track {
          border-radius: 0;
          background: #EBEBEB;
        }
      }
    }

    .h-search-box {
      position: relative;
      margin-left: 2px;

      .inp {
        width: 583px;
        height: 50px;
        background: #FFFFFF;
        font-size: 14px;
        padding-left: 22px;

        &::-webkit-input-placeholder {
          color: #999999;
        }
      }

      .inp-button {
        width: 146px;
        height: 50px;
        background: rgba(0, 175, 99, 1);
        line-height: 50px;
        font-size: 16px;
        color: #ffffff;
        text-align: center;

        &:hover {
          background: rgba(0, 175, 99, 0.9);
        }
      }

      .txt {
        position: absolute;
        bottom: -28px;
        left: 0px;
        font-size: 14px;
        color: #ffffff;
      }

      .lately {
        position: absolute;
        left: 0;
        top: 55px;
        width: 605px;
        height: 207px;
        background: #FFFFFF;
        z-index: 11;
        box-shadow: -1px 2px 13px 4px rgba(187, 192, 195, 0.21);
        overflow-x: hidden;
        overflow-y: auto;
        display: none;

        .top {
          padding: 0 19px 0 14px;
          height: 40px;
          line-height: 40px;

          span {
            font-size: 14px;
            color: #333333;
          }

          em {
            font-size: 14px;
            color: #333333;
            cursor: pointer;
          }
        }

        .divcook {
          padding: 0 4px;

          li {
            position: relative;
            height: 38px;
            line-height: 38px;
            transition: all 0.4s ease;
            padding-left: 10px;
            padding-right: 16px;
            font-size: 14px;
            color: #666666;
            text-align: left;

            .del {
              font-size: 14px;
              color: #666666;
              display: none;
            }

            &:hover {
              background: #F1F6FA;

              .del {
                display: block;
              }
            }
          }
        }

        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 6px;
          background: #fff;

          box-shadow: 0px 2px 4px 0px #CFCFCF;
        }

        &::-webkit-scrollbar-track {
          border-radius: 0;
          background: #EBEBEB;
        }
      }

    }
  }
}

.h-footer {
  position: relative;
  width: 100%;
  height: 288px;
  background: #283541;

  .page-width {
    position: relative;
  }

  .link {
    dt {
      float: left;
      width: 84px;
      padding-left: 7px;
      font-size: 14px;
      color: #ffffff;
      border-left: 1px dashed #0088DD;
      margin-right: 35px;
    }

    dd {
      float: left;
      margin-right: 3%;

      a {
        font-size: 12px;
        color: #999999;
      }
    }
  }

  .h-icon {
    .ico-1 {
      background-position: -57px -4px;
      width: 15px;
      height: 15px;
    }

    .ico-2 {
      background-position: -57px -4px;
      width: 15px;
      height: 15px;
    }

    .ico-3 {
      background-position: -4px -2px;
      width: 13px;
      height: 16px;
    }

    span {
      font-size: 12px;
      color: #999999;
      vertical-align: middle;
      margin-left: 5px;
      margin-right: 20px;
    }
  }

  .official-account {
    position: absolute;
    right: 0;
    top: 45px;

    li {
      float: left;

      &:first-child {
        margin-right: 79px;
      }

      .pic {
        width: 70px;
        height: 70px;
        background: #FFFFFF;
        border-radius: 2px;
        margin-bottom: 20px;

        img {
          width: 70px;
          height: 70px;
          background: #FFFFFF;
          border-radius: 2px;
        }
      }

      .t1 {
        font-size: 14px;
        color: #ffffff;
        text-align: center;
        margin-bottom: 5px;
      }

      .t2 {
        font-size: 14px;
        color: #999999;
      }
    }
  }

  .txt {
    margin-top: 20px;
    font-size: 12px;
    color: #666666;
  }
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
